.color-picker {

  .purple {
    background-color: #7C81EA;
  }
  .green {
    background-color: #5EB09B;
  }
  .dark-gray {
    background-color: $main-color;
  }
  .red {
    background-color: #CC0000;
  }
  .yellow {
    background-color: #FFCE67;
  }
  .blue {
    background-color: #389EC5;
  }
  .orange {
    background-color: #f90;
  }
  .light-blue {
    background-color: #85C3DC;
  }
  .black {
    background-color: black;
  }
  .beige {
    background-color: beige;
  }
  .aqua {
    background-color: $nav-active;
  }

}
